<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Instituto Local</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{asset('vendor/fontawesome-free/css/all.min.css')}}">
			<link rel="stylesheet" href="{{asset('css/sb-admin-2.min.css')}}">
			<link rel="stylesheet" href="{{asset('css/container.css')}}">
		{% endblock %}
	</head>
	<body
		id="page-top">
		<!-- Page Wrapper -->
		<div
			id="wrapper">

			<!-- Sidebar -->
			<ul
				class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

				<!-- Sidebar - Brand -->
				<a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
					<div class="sidebar-brand-icon rotate-n-15">
						<i class="fas fa-laugh-wink"></i>
					</div>
					<div class="sidebar-brand-text mx-3">Instituto Local
					</div>
				</a>

				<!-- Divider -->
				<hr
				class="sidebar-divider my-0">

				<!-- Nav Item - HOLA! -->
				<li class="nav-item active">
					<a class="nav-link" href="">
						<i class="fas fa-fw fa-tachometer-alt"></i>
						<span>HOLA!</span>
					</a>
				</li>

				<!-- Divider -->
				<hr
				class="sidebar-divider">

				<!-- Heading -->
				<div class="sidebar-heading">
					Menu
				</div>
				{% if is_granted ('ROLE_SUPER_ADMIN') or is_granted ('ROLE_ADMIN') %}
				<!-- Nav Item - Charts -->
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_user_index')}}">
						<i class="fas fa-fw fa-folder"></i>
						<span>Usuarios</span>
					</a>
				</li>
				{% endif %}
				

				<!-- Nav Item - Pages Collapse Menu -->				
				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTree" aria-expanded="true" aria-controls="collapseTree">
						<i class="fas fa-fw fa-folder"></i>
						<span>Estudiantes</span>
					</a>
					<div id="collapseTree" class="collapse" aria-labelledby="headingTree" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<h6 class="collapse-header">Datos de Estudiantes</h6>
							{% if is_granted ('ROLE_SUPER_ADMIN') or is_granted ('ROLE_ADMIN') %}
							<a class="collapse-item" href="{{ path('app_alumno_index')}}">Inscripcion</a>
							<a class="collapse-item" href="{{ path('app_alumno_index')}}">Regulares</a>
							{% endif %}
							<a class="collapse-item" href="{{ path('app_examen_alumno_index')}}">Instancia de examen</a>
						
						</div>
					</div>
				</li>				



				<!-- Nav Item - Charts -->
				{% if is_granted ('ROLE_SUPER_ADMIN') or is_granted ('ROLE_ADMIN') %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_docente_index')}}">
						<i class="fas fa-fw fa-folder"></i>
						<span>Docentes</span>
					</a>
				</li>
				{% endif %}
				
				<!-- Nav Item - Pages Collapse Menu -->
				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
						<i class="fas fa-fw fa-folder"></i>
						<span>Carreras</span>
					</a>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<h6 class="collapse-header">Datos de carreras</h6>
							{% if is_granted ('ROLE_SUPER_ADMIN') or is_granted ('ROLE_ADMIN') %}
								<a class="collapse-item" href="{{ path('app_tecnicatura_index')}}">Tecnicatura</a>
								<a class="collapse-item" href="{{ path('app_asignatura_index')}}">Asignatura</a>
								<a class="collapse-item" href="{{ path('app_comision_index')}}">Comisiones</a>
								<a class="collapse-item" href="{{ path('app_correlativa_index')}}">Correlativas</a>
								<a class="collapse-item" href="{{ path('app_cursada_index')}}">Cursadas</a>
								<a class="collapse-item" href="{{ path('app_examen_final_index')}}">Examenes finales</a>
							{% endif %}
							{% if is_granted ('ROLE_ALUMNO') %}
								<a class="collapse-item" href="{{ path('app_asignatura_index')}}">Asignatura</a>
								<a class="collapse-item" href="{{ path('app_comision_index')}}">Comisiones</a>
								<a class="collapse-item" href="{{ path('app_correlativa_index')}}">Correlativas</a>
								<a class="collapse-item" href="{{ path('app_cursada_index')}}">Cursadas</a>
								<a class="collapse-item" href="{{ path('app_examen_final_index')}}">Examenes finales</a>
							{% endif %}
						</div>
					</div>
				</li>
				
				{% if is_granted ('ROLE_SUPER_ADMIN') or is_granted ('ROLE_ADMIN') %}
				<!-- Nav Item - Pages Collapse Menu -->
				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
						<i class="fas fa-fw fa-folder"></i>
						<span>Configuracion</span>
					</a>
					<div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<h6 class="collapse-header">Datos institucionles</h6>
							<a class="collapse-item" href="{{ path('app_instituto_index')}}">Instituto</a>
							<a class="collapse-item" href="{{ path('app_localidad_index') }}">Localidad</a>
							<a class="collapse-item" href="{{ path('app_region_index')}}">Region</a>
							<a class="collapse-item" href="{{ path('app_provincia_index') }}">Provincia</a>
							<a class="collapse-item" href="{{ path('app_pais_index')}}">Pais</a>
							<a class="collapse-item" href="{{ path('app_turno_index') }}">Turnos</a>
							<a class="collapse-item" href="{{ path('app_modalidad_index') }}">Modalidad</a>				
							<a class="collapse-item" href="forgot-password.html">Forgot Password</a>							
						</div>
					</div>
				</li>
				{% endif %}

				<!-- Divider -->
				<hr
				class="sidebar-divider d-none d-md-block">

				<!-- Sidebar Toggler (Sidebar) -->
				<div class="text-center d-none d-md-inline">
					<button class="rounded-circle border-0" id="sidebarToggle"></button>
				</div>

				<!-- Sidebar Message -->
				<div class="sidebar-card d-none d-lg-flex">
					<img class="sidebar-card-illustration mb-2" src={{asset('img/logo.jpeg')}} alt="...">
					<p class="text-center mb-2">
						<strong>Bienvenidos</strong>
						al proyecto del i12!</p>
					
				</div>

			</ul>
			<!-- End of Sidebar -->

			<!-- Content Wrapper -->
			<div
				id="content-wrapper" class="d-flex flex-column">

				<!-- Main Content -->
				<div
					id="content">

					<!-- Topbar -->
					<nav
						class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

						<!-- Sidebar Toggle (Topbar) -->
						<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Topbar Search -->
						<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
							<div class="input-group">
								<input type="text" class="form-control bg-light border-0 small" placeholder="Ciclo Lectivo..." aria-label="Search" aria-describedby="basic-addon2">
								<div class="input-group-append">
									<button class="btn btn-primary" type="button" href="{{path('app_tecnicatura_index')}}">
										<i class="fas fa-search fa-sm"></i>
									</button>
								</div>
							</div>
						</form>

						<!-- Topbar Navbar -->
						<ul
							class="navbar-nav ml-auto">

							<!-- Nav Item - Search Dropdown (Visible Only XS) -->
							<li class="nav-item dropdown no-arrow d-sm-none">
								<a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fas fa-search fa-fw"></i>
								</a>
								<!-- Dropdown - Messages -->
								<div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
									<form class="form-inline mr-auto w-100 navbar-search">
										<div class="input-group">
											<input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
											<div class="input-group-append">
												<button class="btn btn-primary" type="button">
													<i class="fas fa-search fa-sm"></i>
												</button>
											</div>
										</div>
									</form>
								</div>
							</li>



							<div class="topbar-divider d-none d-sm-block"></div>

							<!-- Nav Item - User Information -->
							<li class="nav-item dropdown no-arrow">
								<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ app.user.nombre }}</span>
									<img class="img-profile rounded-circle" src={{asset("img/undraw_profile.svg")}}>
								</a>
								<!-- Dropdown - User Information -->
								<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
									<a class="dropdown-item" href="#">
										<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
										Profile
									</a>
									<a class="dropdown-item" href="#">
										<i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
										Configuracion
									</a>
									<a class="dropdown-item" href="#">
										<i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
										Activity Log
									</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
										<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
										Salir
									</a>
								</div>
							</li>

						</ul>

					</nav>
					<!-- End of Topbar -->				
					<!-- Begin Page Content -->
					<div class="container_X"> {% block body %}   {% endblock %}
						</div> 											 
						</div>		
						
						
	
					<!-- End of Content Wrapper -->
			</div>	
				<!-- End of Page Wrapper -->
				<!-- Scroll to Top Button-->
				<a class="scroll-to-top rounded" href="#page-top">
					<i class="fas fa-angle-up"></i>
				</a>

				<!-- Logout Modal-->
				<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Listo para salir?</h5>
								<button class="close" type="button" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
							</div>
							<div class="modal-body">Selecciona salir para cerrar sesion</div>
							<div class="modal-footer">
								<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
								<a class="btn btn-primary" href="{{ path('app_logout')}}">Salir</a>
							</div>
						</div>
					</div>
				</div>
				{% block javascripts %}

					<script src={{asset('vendor/jquery/jquery.min.js')}}></script>
					<script src={{asset('vendor/bootstrap/js/bootstrap.bundle.min.js')}}></script>
					<script src={{asset('vendor/jquery-easing/jquery.easing.min.js')}}></script>
					<script src={{asset('js/sb-admin-2.min.js')}}></script>
					<script src={{asset('vendor/chart.js/Chart.min.js')}}></script>
					<script src={{asset('js/demo/chart-area-demo.js')}}></script>
					<script src={{asset('js/demo/chart-pie-demo.js')}}></script>

				{% endblock %}
			</body>
		</body>
	</html>
