{% extends 'inicio.html.twig' %}

{% block title %}Página de Inicio - Región de Terciarios{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block content %}
<div class="grid-container">
    <div class="grid-item">
        <div class="content-card">
            <h2>Hola, visitantes</h2>
            <p>¡Bienvenidos a nuestra plataforma!</p>
        </div>
    </div>
    <div class="grid-item">
        <div class="image-comment">
            <img src="{{ asset('img/1.jpg') }}" alt="Imagen 1">
            <p>Estudia en nuestros establecimientos</p>
        </div>
    </div>
    <div class="grid-item">
        <div class="image-comment">
            <img src="{{ asset('img/2.jpg') }}" alt="Imagen 2">
            <p>Crea tu futuro, está en tus manos!!!!</p>
        </div>
    </div>
    <div class="grid-item">
        <div class="image-comment">
            <img src="{{ asset('img/3.jpg') }}" alt="Imagen 3">
            <p>Capacítate para el futuro....</p>
        </div>
    </div>
</div>
{% endblock %}
