{% extends 'base.html.twig' %}

{% block title %}Persona{% endblock %}

{% block body %}
    <h1>Persona</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ persona.id }}</td>
            </tr>
            <tr>
                <th>Nommbre</th>
                <td>{{ persona.nommbre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ persona.apellido }}</td>
            </tr>
            <tr>
                <th>Fecha_nacimiento</th>
                <td>{{ persona.fechaNacimiento ? persona.fechaNacimiento|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Dni_pasaporte</th>
                <td>{{ persona.dniPasaporte }}</td>
            </tr>
            <tr>
                <th>Genero</th>
                <td>{{ persona.genero }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ persona.email }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ persona.telefono }}</td>
            </tr>
            <tr>
                <th>Partido</th>
                <td>{{ persona.partido }}</td>
            </tr>
            <tr>
                <th>Calle</th>
                <td>{{ persona.calle }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ persona.numero }}</td>
            </tr>
            <tr>
                <th>Piso</th>
                <td>{{ persona.piso }}</td>
            </tr>
            <tr>
                <th>Departamento</th>
                <td>{{ persona.departamento }}</td>
            </tr>
            <tr>
                <th>Pasillo</th>
                <td>{{ persona.pasillo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_persona_index') }}">back to list</a>

    <a href="{{ path('app_persona_edit', {'id': persona.id}) }}">edit</a>

    {{ include('persona/_delete_form.html.twig') }}
{% endblock %}
