{% extends 'base.html.twig' %}

{% block title %}Alumno{% endblock %}

{% block body %}
    <h1>Alumno</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titulo_sec</th>
                <td>{{ alumno.tituloSec }}</td>
            </tr>
            <tr>
                <th>Escuela_sec</th>
                <td>{{ alumno.escuelaSec }}</td>
            </tr>
            <tr>
                <th>Anio_egreso</th>
                <td>{{ alumno.anioEgreso }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_alumno_index') }}">Volver</a>

    <a href="{{ path('app_alumno_edit', {'id': alumno.id}) }}">Editar</a>

    {{ include('alumno/_delete_form.html.twig') }}
{% endblock %}
