{% extends 'base.html.twig' %}

{% block title %}ExamenAlumno{% endblock %}

{% block body %}
    <h1>ExamenAlumno</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ examen_alumno.id }}</td>
            </tr>
            <tr>
                <th>Cursada</th>
                <td>{{ examen_alumno.Cursada}}</td>
            </tr>
            <tr>
                <th>Nota</th>
                <td>{{ examen_alumno.nota }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ examen_alumno.examenfinal.fecha|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Tomo</th>
                <td>{{ examen_alumno.Tomo }}</td>
            </tr>
            <tr>
                <th>Folio</th>
                <td>{{ examen_alumno.Folio }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_examen_alumno_index') }}">back to list</a>

    <a href="{{ path('app_examen_alumno_edit', {'id': examen_alumno.id}) }}">edit</a>

    <a href="{{ path('app_examen_final_show', {'id': examen_alumno.examenfinal.id}) }}">--Ir a examen final</a>

    {{ include('examen_alumno/_delete_form.html.twig') }}
{% endblock %}
