{% extends 'base.html.twig' %}

{% block title %}Preinscripciones{% endblock %}

{% block body %}

<h1> Preinscripciones </h1>
<table class=tabla_home border=1>
            <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Carrera</th>
            <th>Turno</th>
            <th>Instituto</th>
            </tr>
       
          {% for preinscripcion in preinscripcions %}
            <tr>
                <td>{{ preinscripcion.alumno.persona.nombre }}</td>               
                <td>{{ preinscripcion.alumno.persona.apellido }}</td>
                <td>{{ preinscripcion.alumno.persona.email }}</td>
                <td>{{ preinscripcion.ofertaeducativa.tecnicatura.nombre }}</td>
                <td>{{ preinscripcion.ofertaeducativa.turno.descripcion }}</td>
                <td>{{ preinscripcion.ofertaeducativa.instituto.numero }}</td>
            </tr>
       
          {% endfor %}
       
</table>

<a href="{{ path('app_preinscripcion_new') }}">Crear</a>

{% endblock %}
