{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success mt-1">{{ button_label|default('Guardar') }}</button>
        <a href="{{path('app_docente_persona')}}" class="btn btn-success mt-1">{{ button_label|default('Agregar nueva persona') }}</a>
{{ form_end(form) }}
