{% extends 'base.html.twig' %}

{% block title %}Institutos{% endblock %}

{% block body %}
    <h1>Institutos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Numero</th>
                <th>Url_instituto</th>
                <th>Tipo</th>
                <th>Email</th>
                <th>Calle</th>
                <th>Altura</th>
                <th>Numero_cue</th>
                <th>Instituto</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for instituto in institutos %}
            <tr>
                <td>{{ instituto.nombre }}</td>
                <td>{{ instituto.numero }}</td>
                <td>{{ instituto.urlInstituto }}</td>
                <td>{{ instituto.tipo }}</td>
                <td>{{ instituto.email }}</td>
                <td>{{ instituto.calle }}</td>
                <td>{{ instituto.altura }}</td>
                <td>{{ instituto.numeroCue }}</td>
                <td>{{ instituto.instituto }}</td>
                <td>
                    <a href="{{ path('app_instituto_show', {'id': instituto.id}) }}">Mostrar</a>
                    <a href="{{ path('app_instituto_edit', {'id': instituto.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no se encontraron datos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_instituto_new') }}">Crear</a>
{% endblock %}
