{% extends 'base.html.twig' %}

{% block title %}Página de Preinscripcion - Región de Terciarios{% endblock %}



{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <h1>Inscripcion a una Tecnicatura</h1>   

  {#   {{ include('preinscripcion/_form.html.twig') }} #}
    {{ form_start(form) }}
<table>

    <tr>
      <td> Datos Peronales:</td>
  </tr>
  
  <tr> 
  <td> Fecha de preinscripcion:</td>
   <td> {{ form_widget(form.fecha) }} </td> 
    </tr>

    <tr>
      <td> Nombre:</td>
   <td> {{ form_widget(form.alumno.persona.nombre) }} </td> 
  </tr>
    <tr>
      <td> Apellido:</td>
   <td> {{ form_widget(form.alumno.persona.apellido) }} </td> 
  </tr> 
    <tr>
      <td> Fecha de Nacimiento:</td>
   <td> {{ form_widget(form.alumno.persona.fecha_nacimiento) }} </td> 
  </tr>
    <tr>
      <td> DNI / Pasaporte:</td>
   <td> {{ form_widget(form.alumno.persona.dni_pasaporte) }} </td> 
  </tr>
    <tr>
      <td> Genero:</td>
   <td> {{ form_widget(form.alumno.persona.genero) }} </td> 
  </tr>
    <tr>
      <td> Email:</td>
   <td> {{ form_widget(form.alumno.persona.email) }} </td> 
  </tr>
    <tr>
      <td> Telefono:</td>
   <td> {{ form_widget(form.alumno.persona.telefono) }} </td> 
  </tr>
    <tr>
      <td> Naionalidad:</td>
   <td> {{ form_widget(form.alumno.persona.pais) }} </td> 
  </tr>
    <tr>
      <td> Partido:</td>
   <td> {{ form_widget(form.alumno.persona.partido) }} </td> 
  </tr>
    <tr>
      <td> Localidad:</td>
   <td> {{ form_widget(form.alumno.persona.localidad) }} </td> 
  </tr>
    <tr>
      <td> Calle:</td>
   <td> {{ form_widget(form.alumno.persona.calle) }} </td> 
  </tr>
    <tr>
      <td> Numero:</td>
   <td> {{ form_widget(form.alumno.persona.numero) }} </td> 
  </tr>
    <tr>
      <td> Piso:</td>
   <td> {{ form_widget(form.alumno.persona.piso) }} </td> 
  </tr>
    <tr>
      <td> Departamento:</td>
   <td> {{ form_widget(form.alumno.persona.departamento) }} </td> 
  </tr>
    <tr>
      <td> Pasillo:</td>
   <td> {{ form_widget(form.alumno.persona.pasillo) }} </td> 
  </tr>
  <tr>
      <td> Tituo secundario:</td>
   <td> {{ form_widget(form.alumno.titulo_sec) }} </td> 
  </tr>
    <tr>
      <td> Escuela Secundaria:</td>
   <td> {{ form_widget(form.alumno.escuela_sec) }} </td> 
  </tr>
    <tr>
      <td> Año de Egreso:</td>
   <td> {{ form_widget(form.alumno.anio_egreso) }} </td> 
  </tr>

    <tr>
      <td> Carrera:</td>
   <td> {{ form_widget(form.ofertaEducativa) }} </td> 
  </tr>

  </table>
    {{ form_widget(form) }}
    <button class="btn_1">GUARDAR</button>
    <a href="{{ path('app_preinscripcion_index') }}">Volver</a>
{% endblock %}